<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
		
<context:component-scan base-package="service,dao,entity"></context:component-scan>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   <property name="driverClassName">
       <value>oracle.jdbc.OracleDriver</value>
   </property>

   <property name="url">
       <value>jdbc:oracle:thin:@localhost:1521:XE</value>
   </property>

   <property name="username">
       <value>hr</value>
   </property>

   <property name="password">
       <value>hr</value>
   </property>

</bean>


   <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
   		<property name="packagesToScan" value="entity"/>
   		<property name="dataSource" ref="dataSource"/>
   		<property name="jpaVendorAdapter">
   				<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
   				<property name="generateDdl" value="false"/>
   				<property name="showSql" value="true"/>
   				</bean>
   </property>
	</bean>
  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
  <property name="entityManagerFactory" ref="entityManagerFactory"></property></bean>
   </beans>